<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>비밀번호 찾기</title>
  <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/resetPassword.css" />
</head>
<body>
  <%- include('nav.ejs', { session: session }) %>

  <div class="list-wrapper">
    <div class="list-container">
      <h2>비밀번호 찾기</h2>
      <form method="post" action="/money/auth/reset-password" id="resetPwdForm" novalidate>
        <label for="userid">아이디</label>
        <input
          type="text"
          id="userid"
          name="userid"
          placeholder="아이디를 입력하세요."
          required
          autocomplete="username"
        />
        <label for="email">이메일 주소</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="이메일 주소를 입력해주세요."
          required
          autocomplete="email"
        />

        <input type="submit" value="비밀번호 찾기" />
      </form>

      <script>
        const form = document.getElementById('resetPwdForm');
        form.addEventListener('submit', async (e) => {
            e.preventDefault();  // 기본 폼 제출 막기

            const formData = new FormData(form);
            const data = {
            userid: formData.get('userid'),
            email: formData.get('email')
            };

            try {
            const response = await fetch('/money/auth/reset-password', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (!response.ok) {
                // 에러 응답 처리
                const errorData = await response.json();
                alert(`에러 발생: ${errorData.message || response.statusText}`);
                return;
            }

            const result = await response.json();
            alert(result.message); // 서버에서 받은 메시지 alert로 띄우기

           location.href = '/money/login';
            
            } catch (error) {
            alert('네트워크 오류가 발생했습니다.');
            console.error(error);
            }
        });
    </script>
    </div>
  </div>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  ></script>
</body>
</html>
